h1{
    margin-top: 50px;
    color:#747070;
    margin-left: 75px;
    font-family:Arial, Helvetica, sans-serif;

}
section{
    display:flex;
}
.half-half img {
    margin-left: 80px;
   height: 300px;
   position: relative;
   top:-100px;
}
.side {
    margin-left: 70px;
    font-family:Arial, Helvetica, sans-serif;
}
.half-half1 img {
    margin-left: 100px;
    height: 300px;
    position: relative;
}
p{
    font-family:Arial, Helvetica, sans-serif;

}
h2{font-family:Arial, Helvetica, sans-serif;
}
.side1{
    border:0.7px solid gray;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    position: relative;
    left:25px;}

    .side2{
        border:0.7px solid gray;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 7px;
        position: relative;
        left:50px;}

        .side3{
            border:0.7px solid gray;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 7px;
            position: relative;
            left:70px;}


